
@model Hanger.Models.Ad


@Styles.Render("~/css/photo.css")





<div class="row">
    <div class="col-lg-12">
        <h3 class="page-header"><span class="glyphicon glyphicon-camera"></span> Wybierz zdjęcie główne</h3>

        @using (Html.BeginForm("MainPhoto", "Ad", new { adId = ViewBag.ad }, FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <div class="inline">
                <input type="file" name="file" class="btn btn-default" />
            </div>
            <div class="inline">
                <input type="submit" value="Dodaj" class="btn btn-default" />
                <img id="loader" src="~/pic/ajax-loader.gif" style="display:none;" />
            </div>
        }
        @if (Session["LogedUserID"] != null)
        {

                foreach (var item in new Hanger.Models.HangerDatabase().Photos.ToList().Where(p => p.AdId == Model.Id))
            { 
                if (item.Main_photo == true)
                {


                    <img src="@System.String.Format("data:{0};base64,{1}", item.Type, Convert.ToBase64String(item.Photo))" width="250" />
                    using (Html.BeginForm("DeletePhoto", "Ad", new { id = item.Id, adId = ViewBag.ad }, FormMethod.Post))
                    {
                        @*@Html.Hidden("id", item.Id)*@
                        <input type="submit" value="Usuń" class="btn btn-default" />
                    }

                }

            }
        }


    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <h3 class="page-header"><span class="glyphicon glyphicon-camera"></span> Dodaj pozostałe zdjęcia</h3>

        @using (Html.BeginForm("AddPhoto", "Ad", new { adId = ViewBag.ad }, FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <div class="inline">
                <input type="file" name="file" class="btn btn-default" />
            </div>
            <div class="inline">
                <input type="submit" value="Dodaj" class="btn btn-default" />
                <img id="loader" src="~/pic/ajax-loader.gif" style="display:none;" />
            </div>
        }
        @{int cellCount = 0; }
        @if (Session["LogedUserID"] != null)
        {
            <table class="table-condensed"  cellpadding="10">
                @foreach (var item in new Hanger.Models.HangerDatabase().Photos.ToList().Where(p => p.AdId == Model.Id))
                {
                    if (item.Main_photo == false)
                    {
                        if (cellCount % 3 == 0)
                        {
                        @: <tr>
                                    }

                    <td>

                        <img src="@System.String.Format("data:{0};base64,{1}", item.Type, Convert.ToBase64String(item.Photo))" width="250" />
                        @using (Html.BeginForm("DeletePhoto", "Ad", new { id = item.Id, adId = ViewBag.ad }, FormMethod.Post))
                        {
                        @*@Html.Hidden("id", item.Id)*@
                        <input type="submit" value="Usuń" class="btn btn-default" />
                        }

                        
                    </td>
                        cellCount++;

                        if (cellCount % 3 == 0)
                        {
                        @:</tr>
                            }

                    }
                }
            </table>


        }
    
    </div>

</div>

<div class="row">
    <div class="col-md-10">
        <a href="@Url.Action("Product", "Ad", new { id =  Model.Id })" class="btn btn-default view" style="width:50%">Podgląd ogłoszenia</a>
    </div>
</div>