@model IEnumerable<Hanger.Models.Ad>
@{
    ViewBag.Title = "UserCatalog";
}

@Styles.Render("~/css/new.css")
@Styles.Render("~/css/contact.css")



<h2 class="page-header"><img alt="Brand" src="/Pictures/Icons/user1.png" style="width: 40px;margin-top: -3px;"> Twoje ulubione przedmioty @ViewBag.profilName</h2>


<div id="wrapper">
    
   <div class="no-items" style="text-align:center">Brak ulubionych ogłoszeń</div>
    
</div>
<script src="~/js/contact.js"></script>